body {
  background-color: #25283B;
  color: #868A99;
  font-size: 1.35em;
}
.content-wrapper {
  background-color: #F8F6F2;
  padding: 30px;
  margin: 25px auto;
  border-radius: 4px;
  width: 50%;
  box-shadow: 6px 2px 4px #000;
}
.inner-wrap-contents {
  width: 80%;
  margin: auto;
  padding: 10px;
}
h1 {
  color: rgb(8, 129, 189);
  border-bottom: 1px solid #000;
}
h3 {
  color: #25283B;
}